@import 'mixsfuncs';
@import 'vars';
.menu {
  top: 20px;
  height: 100%;
}

.menu-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  height: 100%;
  background: $background-display;
}
.menu-list li {
  @include flexAllCenter();
  flex: 1;
  width: 80%;
  margin: 5%;
  border: 2px solid $darkblue;
  border-radius: 10px;
  cursor: pointer;
  background: lighten($darkgray, 60%);
  font-size: $font-size;
  transition: all .3s ease-in-out;
  @media screen and (max-width: 600px){
    font-size: $font-size - 10;
  }
  @media screen and (max-width: 420px){
    font-size: $font-size / 2;
  }
}