// COLORS
$black: #000000;
$white: #ffffff;
$darkblue: #202550;
$darkgray: #343b3e;
$background-body: #efefef;
$background-display: #39A3F8;



// FONT
$font-family: sans-serif;
$font-size: 40px;

// BORDERS


// SIZES
$btn: 40px;
$back-btn: 30px;

  // L
$tablet-width: 560px;
$tablet-height: 700px;
$display-width: 520px;
$display-height: 600px;
  // MD
$tablet-width-md: 420px;
$tablet-height-md: 525px;
$display-width-md: 390px;
$display-height-md: 450px;
  // S
$tablet-width-s: 300px;
$tablet-height-s: 400px;
$display-width-s: 280px;
$display-height-s: 350px;
